html(lang="ja")
  head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title 好きな歌詞#1 Synchronicity I / The Police
    link(rel="stylesheet", href="/styles/poem27.css")
    link(rel="icon", href="/image/favicon.png", type="image/png")
    script. 
      document.addEventListener('DOMContentLoaded', (event) => {
        const images = document.querySelectorAll('img');
        images.forEach((image) => {
          image.setAttribute('draggable', 'false');
          image.addEventListener('dragstart', (e) => {
            e.preventDefault();
          });
        });
      });
  body 
    main
      h1 好きな歌詞#1 Synchronicity I / The Police
      .blockquote 
        blockquote
          .para
              p If you act, as you think
              p The missing link
              p Synchronicity

          .spara
              p 君が考える通りに行動したら
              p 欠けている要素
              p 同時性( シンクロニシティー)

      p.work Synchronicity I / The Police  Writter and Composer: Sting

      .rpara
        p この歌詞よく思い出される。
        p あ、俺が考える通りに行動してるとき、
        p 欠けてる要素同時性か！って笑
        p 歌詞全編洗練されてて、なんかかっこいい....です。
      
      .video-container
        iframe(
          height="315px"
          src="https://www.youtube.com/embed/Si5CSpUCDGY?si=RGmwLBSNE2m25W4S",
          title="YouTube video player",
          frameborder="0",
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
          allowfullscreen
        )

    footer 
      p.page
        a(href="poem26.html") << back&nbsp;&nbsp;&nbsp;
        a(href="/index.html") top
        a(href="poem28.html") &nbsp;&nbsp;&nbsp;next >>
      p © Copyright shinichi All Rights Reserved.